/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: 'Montserrat', sans-serif;
  --bg-color: #000000;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff00;
  --header-shadow: #000 0px 0px 0px;
  --border-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  background-image: url("https://raw.githubusercontent.com/VisualOracle/nft-landing-page/main/images/background/SSL_background_2.jpg");
  background-size: 120vh;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container2 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  background-image: url("");
  background-repeat: no-repeat;
}
/* HEADER */

header {
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}

.btn:hover {
  background-color: #f8ea1b; /* Green */
  color: black;
}

.hero-btn {
  border-radius: 1px;
  font-size: 1.2rem;
  padding: 2.5rem 2rem;
  border: 1px solid #f8ea1b;
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0rem;
  margin-top: 19rem;
  padding: 1rem;
}

.countdown ul {
  display: flex;
  gap: 2rem
}

.countdown h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: var(--font-primary);
  margin: 0.1rem 2rem;
  font-size: 1rem;
  color: rgb(249, 234, 27);
  text-align: center;
}
.countdown p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/* LINE */

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

/* STORY */

.story {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5rem;

}

.story h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: var(--font-primary);
  margin: 5rem 2rem;
  font-size: 2rem;
  text-align: center;
}

.story h2 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: var(--font-primary);
  margin: 0.1rem 2rem;
  font-size: 1rem;
  color: rgb(249, 234, 27);
  text-align: center;
}

.story p1 {
  max-width: 700px;
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: var(--font-primary);
  margin: 2rem 3rem;
  font-size: 0.8rem;
  text-align: left;
}
/* FOOTER */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 3rem;
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: var(--font-primary);
  font-size: 0.6rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}


 
